@model IEnumerable<Models.LivroModel>

@{
    ViewData["Title"] = "Lista de Livros";
}

<h1>Lista de Livros</h1>

<p>
    <a asp-action="Create">Novo Livro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPublicacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPublicacao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.IdLivro }) |
                @Html.ActionLink("Detalhes", "Details", new {  id=item.IdLivro }) |
                @Html.ActionLink("Remover", "Delete", new {  id=item.IdLivro })
            </td>
        </tr>
}
    </tbody>
</table>