@model IEnumerable<Models.AutorModel>

<link href="~/lib/datatable/css/datatables.min.css" rel="stylesheet" />
<p>
    <a asp-action="Create">Novo Autor</a>
</p>
<table id="tableAutor" class="table">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.IdAutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAutor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnoNascimento)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new {  id=item.IdAutor}) |
                    @Html.ActionLink("Detalhes", "Details", new { id=item.IdAutor }) |
                    @Html.ActionLink("Excluir", "Delete", new {  id=item.IdAutor })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/lib/datatable/js/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tableAutor').DataTable({
                language: {
                    url: "lib/datatable/js/pt-br.json",
                }
            });
        });
    </script>   
}
