@model IEnumerable<Core.DTO.LivroDTO>

<link rel="stylesheet" type="text/css" href="~/lib/datatable/css/jquery.dataTables.min.css" />

<p>
    <a class="btn btn-primary" asp-action="Create">Novo Livro</a>
</p>
<table id="tableLivro" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdLivro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeEditora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLivro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeEditora)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new {  id=item.IdLivro }) |
                    @Html.ActionLink("Detalhes", "Details", new {  id=item.IdLivro }) |
                    @Html.ActionLink("Remover", "Delete", new { id=item.IdLivro })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready( function () {
            $('#tableLivro').DataTable({
                language: {
                    url: '/lib/datatable/js/pt-BR.json'
                }
            });
        } );
    </script>
    <script src="~/lib/datatable/js/jquery.dataTables.min.js"></script>
}
