@model Data.Autor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Autor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdAutor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdAutor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnoNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnoNascimento)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.IdAutor }) |
    <a asp-action="Index">Back to List</a>
</div>
