@model BibliotecaWEB.Models.ItemAcervoViewModel

<h3>Confirma exclusão do item do acervo?</h3>
<div>
    <h4>Remover Item Acervo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLivro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLivro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBiblioteca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBiblioteca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSituacaoLivro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSituacaoLivro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDoacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDoacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Remover" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
